.blockquote{
  &__text{
    @include quote;
    margin-bottom: 24px;
    position: relative;
    &:before{
      content: "«";
      position: absolute;
      top: 0;
      left: -15px;
    }
  }
  &__author{
    display: flex;
    align-items: center;
    &-rigth{}
    &-left{

    }
  }
  &__img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
  &__name{
    @include p2;
    margin-bottom: -10px;
  }
  &__post{
    @include p2;
    opacity: 0.5;
  }
}
