.dropdown{
  &__current{
    @include p2;
    display: flex;
    align-items: center;
    &:hover{
      cursor: pointer;
    }
    &._dark{
      color: $colorBlack;
    }
  }
  &__arrow{
    margin-left: 8px;
    width: 9px;
    height: 10px;
    position: relative;
    svg{
      position: absolute;
      top: 0;
      left: 0;
    }
    &._dark{
      svg{
        path{
          stroke: $colorBlack;
        }
      }
    }
  }
  &__options{
    display: none;
  }
}