.feedback-popup{
  &__content{
    padding: 40px 40px 48px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
  }
  &__title{
    @include h3;
    margin-bottom: 32px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      margin-bottom: 32px;
    }
  }
  &__bottom{
    display: flex;
    align-items: center;
  }
  &__field{
    width: 100%;
    &:not(:first-child){
      margin-left: 32px;
    }
  }
  &__form{
    margin-bottom: 32px;
  }
  &__personal{
    @include p3;
    @include fontSemibold;
    margin-left: 24px;
    color: $colorNavGrey;
  }
  &__close{
    top: 20px;
    right: 20px;
    width: 16px;
    position: absolute;
    background-image: url('../images/i-popup-close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    &:hover{
      cursor: pointer;
    }
    &:active{
      top: 20px;
    }
  }
}