extends components/layout-inner
include components/banner
include components/menu
include components/invest-card
include components/inner-menu

block title
  | Внутренняя типовая
block vars
  -
    var bannerData = {
      breadcrumbs: [
        {
          link: '#',
          linkName: 'Главная'
        },
        {
          link: '#',
          linkName: 'Пресс-центр'
        },
        {
          link: '#',
          linkName: 'Медиатека'
        },
        {
          link: '#',
          linkName: 'Пресс-релизы'
        },
        {
          linkName: 'En+ Group и РУСАЛ запускают первую в России программу частных стипендий'
        }
      ],
      center: {

      },
      title: 'РУСАЛ объявляет результаты второго квартала и первого полугодия 2018 года',
      titleWrapperStyle: 'col-10 offset-1',
      image: 'common/images/common__bg.jpg'
    }
    var topLinks = [
      {
        link: '#',
        linkName: 'Сертификаты качества'
      },
      {
        link: '#',
        linkName: 'Торговые представительства в мире'
      },
      {
        link: '#',
        linkName: 'Контакты продаж'
      },
    ]
    var cards = [
      {
        title: 'Ежегодные отчёты',
        type: 'text',
        content: 'Активы ОК РУСАЛ включают в себя весь комплекс предприятий, задействованныхв цепочке производства конечного продукта.',
        link: '#',
        isCommon: true
      },
      {
        title: 'Ежегодные отчёты',
        type: 'text',
        content: 'Активы ОК РУСАЛ включают в себя весь комплекс предприятий, задействованныхв цепочке производства конечного продукта.',
        link: '#',
        isCommon: true
      }
    ]
block content
  +menu
  .inner.common
    +banner(bannerData)
    +inner-menu(topLinks)
    .container
      .row
        .col-12
          .common__image
            img(src='common/images/common__full-image.jpg' alt='image')
      .common__wrapper
        .row
          .col-8.offset-2
            .common__date
              span 18.06.2017
            .common__content.wysiwyg
              p
                b Москва, 06 августа 2018 года – ОК РУСАЛ (торговый код на Гонконгской фондовой бирже 486, на Московской бирже RUAL), один из крупнейших в мире производителей алюминия, объявляет результаты деятельности компании по итогам второго кварталаи первого полугодия 2018 года.
              p С начала этого года алюминиевый рынок испытывает серьезное негативное воздействие, вызванное перебоями в поставках. Временное прекращение работы алюминиевого завода ABI в Квебеке мощностью 450 тыс. тонн привело к сокращению объемов производства алюминия в Канаде на 8% по сравнению с аналогичным периодом прошлого года. Алюминиевое предприятие Albras в Бразилии работало вполовину своей мощности из-за вынужденного сокращения объемов производства глинозема на заводе Alunorte. При этом перезапуск алюминиевых мощностей, как в Китае, так и за его пределами, осуществляется крайне медленно из-за высокой стоимости сырья и пробл ем с энергоснабжением.
              figure
                img(src="common/images/press-detail-1.jpg" alt="Добыча залежей в Сибири")
                figcaption Добыча залежей в Сибири
              p
                img(src="common/images/press-detail-2.jpg" alt="alt" style="float:left;")
                | Торговые войны и введение импортных пошлин наряду с санкциями OFAC привели к значительному росту премийи цен, увеличив расходы основных потребителей алюминия. Учитывая значительные объемы поставок глинозема РУСАЛом на европейские алюминиевые заводы, введение санкций против компании вместе с сокращением объемов производства глинозема Alunorte привело к существенному росту цены на глинозем в апреле, когда она достигла 600 долларов США за тонну. Это, в свою очередь, существенно повлияло на издержки производителей алюминия, так как доля цены на глинозем достигла 21%.
                br
                br
                img(src="common/images/common__inner-image-1.png" alt="alt" style="float:left;")
                | Торговые войны и введение импортных пошлин наряду с санкциями OFAC привели к значительному росту премий и цен, увеличив асходы.Торговые войны и введение импортных пошлин наряду с санкциями OFAC привели к значительному росту премий и цен.
        .common__cards
          .row
            each card, cardIndex in cards
              .col-4(class=cardIndex === 0 && 'offset-2')
                .common__card
                  +invest-card(card)
        .row
          .col-8.offset-2
            .common__content.wysiwyg
              h4 Отдельные данные из консолидированного промежуточного сокращенного отчета о движении денежных средств
              ul
                li Объем производства алюминия ОК РУСАЛ (Алюминиевого дивизиона за исключением БоАЗа) в первом полугодии 2018 года составил 1 870 тыс. тонн, увеличившись на 2,1%по сравнению с аналогичны периодом 2017 года. В первом полугодии 2018 года реализация продукции с добавленной стоимостью (ПДС) сократилась до 869 тыс. тоннс 941 тыс. тонн в первом полугодии 2017 года, что стало результатом введения санкций.
                li Объем производства глинозема в первом полугодии 2018 года оставался стабильным и составил 3,816  тыс. тонн. В аналогичный период 2017 года этот показатель составил 3,817 тыс. тонн. В мае 2018 была возобновлена работа боксито-глиноземного комплекса (БГК) «Фригия» в Гвинее.
              br
              ul
                li Объем добычи боксита в первом полугодии 2018 года составил 6,280 тыс. тонн, увеличившись на 5,4% по сравнению с аналогичным периодом прошлого года.Рост произошел благодаря тому, что КБК (Компания Бокситов Киндии) восстановила уровень добычи до 1 731 тыс. тонн после модернизации подвижного состава, BCGI (Компания бокситов Гайаны) увеличила объем производства на 96 тыс. тонн.На объемы добычи также повлиял перезапуск боксито-глиноземного комплекса «Фригия» в Гвинее, который состоялся в апреле.