extends components/layout-inner
include components/banner
include components/menu
include components/share-button

block title
  | О заводе
block vars
  -
    var factoryBannerData = {
      breadcrumbs: [
        {
          link: '#',
          linkName: 'Главная'
        },
        {
          link: '#',
          linkName: 'О нас'
        },
        {
          link: '#',
          linkName: 'Корпоративное управление'
        },
        {
          link: '#',
          linkName: 'Красноярский алюминиевый завод'
        }
      ],
      image: 'common/images/banner__bg-factory.jpg',
      title: 'Красноярский <br>алюминевый завод'
    }
    var factoryRowsData = [
      {
        title: 'Продукция',
        text: '<p>Первичный алюминий, алюминиевые сплавы (в слитках, мелкой и Т-образной чушке), алюминий высокой чистоты</p>'
      },{
        title: 'Потребители',
        text: '<p>Транспортная, строительная, упаковочная, электротехническая, автомобильная, авиационная, электронная промышленность, товары народного потребления</p>'
      },{
        title: 'Мощность',
        text: '<p>1 024 000 тонн алюминия в год</p>'
      },{
        title: 'Персонал',
        text: '<p>4265 человек</p>'
      },{
        title: 'Производственный комплекс',
        text: '<p>25 корпусов электролиза, 3 литейных отделения, отделение производства анодной массы</p>'
      },{
        title: 'Источник электроэнергии',
        text: '<p>Красноярская ГЭС</p>'
      },{
        title: 'Технология производства',
        text: `<p>Основная часть мощностей завода работает по технологии Содерберга с использованием сухого анода. 69% всех электролизёров переведены на технологию «Экологический Содерберг».</p>`
      },{
        title: 'Технология производства',
        text: `<p>Основная часть мощностей завода работает по технологии Содерберга с использованием сухого анода. 69% всех электролизёров переведены на технологию «Экологический Содерберг».</p>`
      },{
        title: 'Технология производства',
        text: `
          <p>В рамках масштабной экологической модернизации, реализованной в 2004-2009 годах, завод был переведен на технологию сухого анода, оснащен системами автоматической подачи глинозема и установками сухой очистки газов. Осуществление программы позволило снизить выбросы фтористого водорода в 1,5 раза, смолистых веществ - в 2,7 раза, бенз(а)пирена - в 2,5 раза. </p>
          <p>На заводе продолжается второй этап модернизации, который завершится в 2018 году. Он включает в себя перевод электролизёров на экологически приемлемую технологию «Экологический Содерберг», увеличение эффективности ГОУ прокалочных комплексов в производстве анодной массы. Комплекс природоохранных мероприятий в 2015 году позволил снизить объем выбросов загрязняющих веществ в атмосферу Красноярска на 1,3%. Завершается проект по увеличению эффективности газоочистного оборудования прокалочных комплексов производства анодной массы.</p>
          <p>После окончания второго этапа модернизации планируется достичь снижения валовых выбросов на 39%. </p>
          <p>КрАЗ ведёт строительство нового литейного комплекса по производству цилиндрических слитков диаметром от 203 до 457 мм. Значительную часть ПДС, выпускаемой КрАЗом, составляют деформируемые сплавы.</p>
          <p>В одном из корпусов КрАЗа работает экспериментальный участок для испытания технологии инертного анода. </p>
        `
      },
      {
        title: 'Сертификаты',
        text: `
          <p>ISO 14001:2004 (международный стандарт системы экологического менеджмента) </p>
          <p>Область применения системы экологического менеджмента распространяется на производство, продажи и поставки первичного алюминия и сплавов на его основе, алюминия высокой чистоты, анодной массы и смешанного криолита, при этом физические границы применимости системы экологического менеджмента указанных видов деятельности, определяются зоной влияния их на окружающую среду.</p>
          <p>ISO 9001, ISO/TS 16949 (международный стандарт системы качества)</p>
          <p>OHSAS 18001 (международный стандарт системы охраны труда и промышленной безопасности)</p>
          <p>ISO/TS 16949 (продукция для автомобильного сектора)</p>
        `
      }
    ]
block content
  +menu
  .inner.factory
    +banner(factoryBannerData)
      +share-button
    .container.factory__wrapper
      .row
        .col-8
          .factory__content
            each item in factoryRowsData
              .factory__content-row
                .factory__content-title
                  span= item.title
                .factory__content-text !{item.text}
        .col-4
          .factory__sidebar
            .factory__sidebar-title
              p Один из крупнейших производителей алюминия в мире, основная площадка для опытной эксплуатации и внедрения инновационных разработок РУСАЛа.
            .factory__sidebar-text.wysiwyg
              p На долю Красноярского алюминиевого завода приходится около 27,6% всего алюминия, производимого в России, и 2% объема мирового производства.
              p Является одной из главных экспериментальных площадок для внедрения инновационных разработок РУСАЛа.
              p Выпускает высококачественную продукцию. Более 36% от общего объема производства составляет высокотехнологичная продукция, сплавы. КрАЗ единственный завод в России и СНГ производит сплавы высокой чистоты АВЧ.
      .row
        .col-12
          .factory__separator
      .row
        .col-8.offset-2
          .factory__contacts
            .contacts-card__column
              .contacts-card__section
                .contacts-card__title
                  span Телефоны
                ul.contacts-card__list
                  li.contacts-card__item
                    a.contacts-card__link(href='#') + 7 3912 56-38-98
              .contacts-card__section
                .contacts-card__title
                  span Эл. почта
                ul.contacts-card__list
                  li.contacts-card__item
                    a.contacts-card__link(href='#') AssistanceUD.KRAZ@rusal.com
            .contacts-card__column
              .contacts-card__section
                .contacts-card__title
                  span Адрес
                ul.contacts-card__list
                  li.contacts-card__item
                    a.contacts-card__link(href='#') Россия, 660111, Красноярский край, г. Красноярск ул. Пограничников, 40
                a.contacts-card__map-link.mt-16(href='#')
                  include ../assets/images/i-pin.svg
                  span Открыть в Яндекс.Картах