extends components/layout-content-only

block title
  | Технические работы

block content
  .maintenance(style='background-image: url("common/images/banner__bg-maintenance.jpg")')
    .container
      .row
        .maintenance__content
          h2.maintenance__title Ведутся технические работы
          p.maintenance__descriptor В течение некоторого времени сайт будет недоступен. Приносим извинения за неудобства.

