extends components/layout-inner
include components/breadcrumbs
include components/menu
include components/backlink
include components/incut
include components/collapse
include components/blockquote
include components/attachment
include components/share-block
include components/invest-card

block title
  | Пресс-центр - деталка
block vars
  -
    var breadcrumbsData = [
    {
    link: '#',
    linkName: 'Главная'
    },
    {
    link: '#',
    linkName: 'Пресс-центр'
    },
    {
    link: '#',
    linkName: 'Медиатека'
    },
    {
    link: '/press.html',
    linkName: 'Пресс-релизы'
    },
    {
    linkName: 'En+ Group и РУСАЛ запускают первую в России программу частных стипендий'
    }
    ];
    var investData = [
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    },
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    },
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    },
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    },
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    },
    {
    name: 'РУСАЛ успешно разместил третий в 2019 году транш рублевых облигаций',
    type: 'press',
    content: 'РУСАЛ сообщает о&nbsp;закрытии книги заявок третьего транша 10-летних облигаций с&nbsp;офертой через 3&nbsp;года на&nbsp;Московской бирже номинальным объемом 15&nbsp;млрд рублей.',
    date: '05.09.19',
    link: '/press-detail.html'
    }
    ]
block content
  +menu
  .inner.press-detail
    .container
      .row.mb-64
        .col-2
          +backlink('/press.html', 'Назад', 'dark')
        .col-10
          +breadcrumbs({ list: breadcrumbsData, style: 'dark' })
      .row.mb-60
        .col
          .press-detail__content
            .press-detail__top-img
              img(src="common/images/press-detail.jpg" alt="Иллюстрация к статье")
      .row
        .col-6.offset-3
          .press-detail__date.mb-16 18.06.2017
          .press-detail__title.mb-32 РУСАЛ объявляет результаты второго квартала и&nbsp;первого полугодия 2018 года
          .wysiwyg
            p
              strong Москва, 06&nbsp;августа 2018 года&nbsp;&mdash; ОК&nbsp;РУСАЛ (торговый код на&nbsp;Гонконгской фондовой бирже 486, на&nbsp;Московской бирже RUAL), один из&nbsp;крупнейших в&nbsp;мире производителей алюминия, объявляет результаты деятельности компании по&nbsp;итогам второго квартала и&nbsp;первого полугодия 2018&nbsp;года.
            p С&nbsp;начала этого года алюминиевый рынок испытывает серьезное негативное воздействие, вызванное перебоями в&nbsp;поставках. Временное прекращение работы алюминиевого завода ABI в&nbsp;Квебеке мощностью 450&nbsp;тыс. тонн привело к&nbsp;сокращению объемов производства алюминия в&nbsp;Канаде на&nbsp;8% по&nbsp;сравнению с&nbsp;аналогичным периодом прошлого года. Алюминиевое предприятие Albras в&nbsp;Бразилии работало вполовину своей мощности из-за вынужденного сокращения объемов производства глинозема на&nbsp;заводе Alunorte. При этом перезапуск алюминиевых мощностей, как в&nbsp;Китае, так и&nbsp;за&nbsp;его пределами, осуществляется крайне медленно из-за высокой стоимости сырья и&nbsp;проблем с&nbsp;энергоснабжением.
            figure
              img(src="common/images/press-detail-1.jpg" alt="Добыча залежей в Сибири")
              figcaption Добыча залежей в Сибири
            p
              img(src="common/images/press-detail-2.jpg" alt="alt" style="float:left;")
              | Торговые войны и&nbsp;введение импортных пошлин наряду с&nbsp;санкциями OFAC привели к&nbsp;значительному росту премий и&nbsp;цен, увеличив расходы основных потребителей алюминия. Учитывая значительные объемы поставок глинозема РУСАЛом на&nbsp;европейские алюминиевые заводы, введение санкций против компании вместе с&nbsp;сокращением объемов производства глинозема
              br
              | Alunorte привело к&nbsp;существенному росту цены на&nbsp;глинозем в&nbsp;апреле, когда она достигла 600 долларов США за&nbsp;тонну. Это, в&nbsp;свою очередь, существенно повлияло на&nbsp;издержки производителей алюминия, так как доля цены на&nbsp;глинозем достигла&nbsp;21%.
              img(src="common/images/press-detail-3.jpg" alt="alt" style="float:left;")
              | Торговые войны и&nbsp;введение импортных пошлин наряду с&nbsp;санкциями OFAC привели к&nbsp;значительному росту премий и&nbsp;цен, увеличив асходы.Торговые войны и&nbsp;введение импортных пошлин наряду с&nbsp;санкциями OFAC привели к&nbsp;значительному росту премий и&nbsp;цен.
            h4 Отдельные данные из&nbsp;консолидированного промежуточного сокращенного отчета о&nbsp;движении денежных средств
            ul
              li Объем производства алюминия ОК&nbsp;РУСАЛ (Алюминиевого дивизиона за&nbsp;исключением БоАЗа) в&nbsp;первом полугодии 2018 года составил 1&nbsp;870&nbsp;тыс. тонн, увеличившись на&nbsp;2,1% по&nbsp;сравнению с&nbsp;аналогичны периодом 2017&nbsp;года. В&nbsp;первом полугодии 2018 года реализация продукции с&nbsp;добавленной стоимостью (ПДС) сократилась до&nbsp;869&nbsp;тыс. тонн с&nbsp;941&nbsp;тыс. тонн в&nbsp;первом полугодии 2017&nbsp;года, что стало результатом введения санкций.
              li Объем производства глинозема в&nbsp;первом полугодии 2018 года оставался стабильным и&nbsp;составил 3,816&nbsp;тыс. тонн. В&nbsp;аналогичный период 2017 года этот показатель составил 3,817&nbsp;тыс. тонн. В&nbsp;мае 2018 была возобновлена работа боксито-глиноземного комплекса (БГК) &laquo;Фригия&raquo; в&nbsp;Гвинее.
              li Объем добычи боксита в&nbsp;первом полугодии 2018 года составил 6,280&nbsp;тыс. тонн, увеличившись на&nbsp;5,4% по&nbsp;сравнению с&nbsp;аналогичным периодом прошлого года. Рост произошел благодаря тому, что КБК (Компания Бокситов Киндии) восстановила уровень добычи до&nbsp;1&nbsp;731&nbsp;тыс. тонн после модернизации подвижного состава, BCGI (Компания бокситов Гайаны) увеличила объем производства на&nbsp;96&nbsp;тыс. тонн. На&nbsp;объемы добычи также повлиял перезапуск боксито-глиноземного комплекса &laquo;Фригия&raquo; в&nbsp;Гвинее, который состоялся в&nbsp;апреле.
          .mb-56.mt-56
            +incut(
							{
								title: 'Результаты второго квартала 2018 года',
								text: 'РУСАЛ объявляет результаты деятельности компании по&nbsp;итогам второго квартала и&nbsp;первого полугодия 2018&nbsp;года.',
								button: { name: 'Подробнее', link: '#', style: 'secondary' }
							}
            )
          +collapse({ title: 'Отчёт за 2 квартал 2017' })
            .press-detail__collapse
              p  В&nbsp;результате вышеуказанных факторов прибыль компании до&nbsp;налогообложения составила 1&nbsp;017 млн долларов США в&nbsp;первом полугодии 2018 года по&nbsp;сравнению с&nbsp;498 млн долларов США в&nbsp;первом полугодии 2017&nbsp;года. Прибыль компании составила 952 млн долларов США в&nbsp;первом полугодии 2018 года по&nbsp;сравнению с&nbsp;470 млн долларов США в&nbsp;первом полугодии 2017&nbsp;года.
          +collapse({ title: 'Отчёт за 3 квартал 2017' })
            .press-detail__collapse
              p В&nbsp;результате вышеуказанных факторов прибыль компании до&nbsp;налогообложения составила 1&nbsp;017 млн долларов США в&nbsp;первом полугодии 2018 года по&nbsp;сравнению с&nbsp;498 млн долларов США в&nbsp;первом полугодии 2017&nbsp;года. Прибыль компании составила 952 млн долларов США в&nbsp;первом полугодии 2018 года по&nbsp;сравнению с&nbsp;470 млн долларов США в&nbsp;первом полугодии 2017&nbsp;года.
              figure
                img(src="common/images/press-detail-4.jpg" alt="Добыча залежей в Сибири")
                figcaption Добыча залежей в Сибири
          .wysiwyg
            h4 Отдельные данные из&nbsp;консолидированного промежуточного сокращенного отчета о&nbsp;движении денежных средств
            ol
              li Объем производства алюминия ОК&nbsp;РУСАЛ (Алюминиевого дивизиона за&nbsp;исключением БоАЗа) в&nbsp;первом полугодии 2018 года составил 1&nbsp;870&nbsp;тыс. тонн, увеличившись на&nbsp;2,1% по&nbsp;сравнению с&nbsp;аналогичны периодом 2017&nbsp;года. В&nbsp;первом полугодии 2018 года реализация продукции с&nbsp;добавленной стоимостью (ПДС) сократилась до&nbsp;869&nbsp;тыс. тонн с&nbsp;941&nbsp;тыс. тонн в&nbsp;первом полугодии 2017&nbsp;года, что стало результатом введения санкций.
              li Объем производства глинозема в&nbsp;первом полугодии 2018 года оставался стабильным и&nbsp;составил 3,816&nbsp;тыс. тонн. В&nbsp;аналогичный период 2017 года этот показатель составил 3,817&nbsp;тыс. тонн. В&nbsp;мае 2018 была возобновлена работа боксито-глиноземного комплекса (БГК) &laquo;Фригия&raquo; в&nbsp;Гвинее.
              li
                p Объем добычи боксита в&nbsp;первом полугодии 2018 года составил 6,280&nbsp;тыс. тонн, увеличившись на&nbsp;5,4% по&nbsp;сравнению с&nbsp;аналогичным периодом прошлого года. Рост произошел благодаря тому, что КБК (Компания Бокситов Киндии) восстановила уровень добычи до&nbsp;1&nbsp;731&nbsp;тыс. тонн после модернизации подвижного состава, BCGI (Компания бокситов Гайаны) увеличила объем производства на&nbsp;96&nbsp;тыс. тонн. На&nbsp;объемы добычи также повлиял перезапуск боксито-глиноземного комплекса &laquo;Фригия&raquo; в&nbsp;Гвинее, который состоялся в&nbsp;апреле. В&nbsp;настоящее время алюминий.
                p
                  img.wysiwyg__img-right(src="common/images/press-detail-2.jpg" alt="alt" style="float:right;")
                  | Объем добычи боксита в&nbsp;первом полугодии 2018 года составил 6,280&nbsp;тыс. тонн, увеличившись на&nbsp;5,4% по&nbsp;сравнению с&nbsp;аналогичным периодом прошлого года. Рост произошел благодаря тому, что КБК (Компания Бокситов Киндии) восстановила уровень добычи до&nbsp;1&nbsp;731&nbsp;тыс. после модернизации подвижного состава, BCGI (Компания бокситов Гайаны) увеличила объем производства.
          .mt-56
            +collapse({ title: 'Отчёт за 2018-2017 года' })
              .wysiwyg
                table
                  thead
                    tr
                      th Континенты
                      th 2018, млн $
                      th Проценты, %
                      th 2017, млн $
                      th Проценты, %
                  tbody
                    tr
                      td Европа
                      td 2,128
                      td 22 %
                      td 2,128
                      td 22 %
                    tr
                      td СНГ
                      td 1,203
                      td 14 %
                      td 1,203
                      td 14 %
          .mt-56.mb-56
            +incut(
							{
								title: 'В&nbsp;Сибири нашли новые залежи нефти',
								text: 'В&nbsp;марте 2019 года в&nbsp;Сибири были обнаружены новые залежи нефти и&nbsp;газа.',
								img: 'common/images/press-detail-5.jpg',
								button: { name: 'Подробнее', link: '#', style: 'light' }
							}
            )
          .wysiwyg
            p Цель конкурса&nbsp;&mdash; выявление лучших тренеров по&nbsp;лыжным гонкам по&nbsp;результатам спортивной работы в&nbsp;предыдущем зимнем сезоне и&nbsp;поощрение их&nbsp;стипендиями. Стипендия будет выплачиваться ежемесячно, с&nbsp;сентября по&nbsp;май. Ее&nbsp;общая сумма составит 90&nbsp;000 рублей за&nbsp;сезон.
            p К&nbsp;участию в&nbsp;конкурсе приглашаются лыжные тренеры, работающие в&nbsp;18&nbsp;городах 5&nbsp;регионов России, где реализуется проект &laquo;На&nbsp;лыжи!&raquo;: Иркутской и&nbsp;Кемеровской областей, Красноярского края, республик Хакасия и&nbsp;Коми (список городов и&nbsp;электронных адресов для подачи заявок&nbsp;см. ниже).
            p Конкурс проводится в&nbsp;два этапа. На&nbsp;первом идет прием заявок и&nbsp;отбор соискателей. Заявки на&nbsp;участие в&nbsp;конкурсе принимаются до&nbsp;31&nbsp;июля. Школы, в&nbsp;которых работают соискатели, должны направлять их&nbsp;по&nbsp;электронной почте в&nbsp;адрес региональных федераций лыжных гонок, копии заявок направляются организаторам на&nbsp;адрес электронной почты: <a href="#">grant@налыжи.рус</a>. В&nbsp;заявке от&nbsp;одной школы может быть указано не&nbsp;более трех тренеров по&nbsp;лыжным гонкам. В&nbsp;ней необходимо описать заслуги тренера (результаты его спортсменов, кто из&nbsp;воспитанников вошел в&nbsp;составы региональных сборных и&nbsp;сборной России по&nbsp;лыжным гонкам, особые заслуги и&nbsp;т.д.) за&nbsp;предыдущий зимний сезон.
            p На&nbsp;втором этапе экспертный совет, членами которого также являются представители Федерации лыжных гонок России, выбирает по&nbsp;одному победителю от&nbsp;каждого региона-участника конкурса. Список победителей будет опубликован до&nbsp;25&nbsp;августа на&nbsp;сайте проекта &laquo;На&nbsp;лыжи!&raquo;: www.nalyzhi.ru
          .mt-56.mb-80
            +blockquote(
              {
                text: 'Спорт&nbsp;&mdash; это вид деятельности, в&nbsp;котором важна каждая деталь, поэтому в&nbsp;рамках совместного проекта &quot;На&nbsp;лыжи!&quot; реализуются различные мероприятия для поддержки всех, кто увлечен лыжами: как профессионалов, так и&nbsp;любителей&raquo;.',
                author: {
                  img: 'common/images/blockquote-author-img.jpg',
                  name: 'Елена Вяльбе',
                  post: 'президент Федерации лыжных гонок России'
                }
              }
            )
          .wysiwyg
            h4 Список городов от&nbsp;Федерации лыжных гонок &laquo;Лучший лыжный тренер года&raquo; в&nbsp;2019
            table
              thead
                tr
                  th Региональная федерация
                  th(style='text-align: left') Города
                  th(style='text-align: left') Электронная почта
              tbody
                tr
                  td Иркутская область
                  td(style='text-align: left') Ангарск<br />Братск<br />Иркутск
                  td(style='text-align: left') <a href='mailto:froleg@mail.ru'>froleg@mail.ru</a>
                tr
                  td Кемеровская область
                  td(style='text-align: left') Кемерово<br />Новокузнецк<br />Дивногорск
                  td(style='text-align: left') <a href='mailto:froleg@mail.ru'>froleg@mail.ru</a>
          .press-detail__gallery.mt-56.mb-40(data-press-gallery-wrapper)
            .swiper-container(data-press-gallery)
              .swiper-wrapper
                .swiper-slide
                  img(src="common/images/press-detail-1.jpg" alt="Добыча залежей в Сибири")
                .swiper-slide
                  img(src="common/images/press-detail-1.jpg" alt="Добыча залежей в Сибири")
                .swiper-slide
                  img(src="common/images/press-detail-1.jpg" alt="Добыча залежей в Сибири")
            .press-detail__gallery-nav
              .press-detail__gallery-nav-prev(data-press-gallery-prev)
              .press-detail__gallery-nav-pagination(data-press-gallery-pagination)
              .press-detail__gallery-nav-next(data-press-gallery-next)
          .wysiwyg
            h4 Вложения
          .press-detail__attachments
            +attachment({
              name: 'Презентация',
              link: '#',
              type: 'pdf'
            })
            +attachment({
              name: 'Аудит сайта',
              link: '#',
              type: 'xls'
            })
          .press-detail__bottom
            +share-block
            a.press-detail__bottom-subscribe(href="#subscribe-news-popup" data-open-popup) Подписаться на рассылку
    .press-detail__more-news-wrapper
      .container
        .row
          .col-6.offset-3
            .press-detail__more-news-title Последние новости
        .row
          .col-6.offset-3
            .press-detail__more-news-gallery(data-more-news-gallery-wrapper)
              .swiper-container(data-more-news-gallery)
                .swiper-wrapper
                  each card in investData
                    .swiper-slide.press-detail__more-news-gallery-slide
                      +invest-card(card)
              .press-detail__more-news-gallery-nav
                .press-detail__more-news-gallery-nav-prev(data-more-news-gallery-prev)
                .press-detail__more-news-gallery-nav-pagination(data-more-news-gallery-pagination)
                .press-detail__more-news-gallery-nav-next(data-more-news-gallery-next)

