extends components/layout-inner
include components/banner
include components/menu
include components/tab
include components/tag
include components/vacancy-card
include elements/button
include elements/filter-select

block title
  | Вакансии в РУСАЛ
block vars
  -
    var bannerData = {
      breadcrumbs: [
        {
          link: '/',
          linkName: 'Главная'
        },
        {
          link: '#',
          linkName: 'Карьера'
        },
        {
          linkName: 'Вакансии'
        }
      ],
      title: 'Вакансии',
      text: '39 открытых вакансий',
      style: 'transparent'
    }
    var tabs = [
      {
        name: 'Россия',
        isActive: true
      },
      {
        name: 'Гвинея'
      },
      {
        name: 'Ямайка'
      }
    ]
    var dropdown = [
      {
        name: 'Любой регион работы',
        value: 'any',
        isSelected: true
      },
      {
        name: 'Москва',
        value: 'moscow',
      },
      {
        name: 'Великий Устюг',
        value: 'ustyug',
      }
    ]
    var tags = [
      {
        name: 'Все специальности'
      },
      {
        name: 'Бухгалтерия'
      },
      {
        name: 'IT'
      },
      {
        name: 'Администрирование'
      },
      {
        name: 'Инвестиции'
      },
      {
        name: 'Управление'
      },
      {
        name: 'Менеджмент'
      },
      {
        name: 'Начало карьеры'
      },
      {
        name: 'Ещё +7'
      }
    ]
    var vacancyList = [
      {
        link: '#',
        title: 'Юрисконсульт (Отдел правового сопровождения зарубежных активов)',
        text: 'Подготовка информационных меморандумов и аналитических заключений по реализуемым зарубежным проектам. Составление проектов корпоративных документов, контроль за соблюдением внутренних корпоративных процедур...',
        city: 'Москва',
        address: 'м. Парк победы',
        exp: 'Требуемый опыт: 3–6 лет'
      },
      {
        link: '#',
        title: 'Менеджер по работе с корпоративными клиентами (серверное и сетевое оборудование)',
        text: 'Если Вы цените свое время, активны, азартны, обожаете работать с людьми, нацелены на результат, и настолько коммуникабельны и ответственны, что...',
        city: 'Москва',
        address: 'Енисейская улица, 1с1',
        exp: 'Требуемый опыт: 3–6 лет'
      },
      {
        link: '#',
        title: 'Менеджер отдела документационного обеспечения',
        text: 'Создание новых систем, развитие и поддержка существующих веб-систем. Руководство проектами в области web-разработки с функциями менеджера продукта.',
        city: 'Новороссийск',
        exp: 'Требуемый опыт: от 3 лет'
      },
      {
        link: '#',
        title: 'Руководитель группы проектов (закупки)',
        text: 'Подготовка информационных меморандумов и аналитических заключений по реализуемым зарубежным проектам. Составление проектов корпоративных документов, контроль за соблюдением внутренних корпоративных процедур...',
        city: 'Москва',
        exp: 'Требуемый опыт: от 3 лет'
      },
      {
        link: '#',
        title: 'Менеджер проектов (Web-разработка)',
        text: 'Создание новых систем, развитие и поддержка существующих веб-систем. Руководство проектами в области web-разработки с функциями менеджера продукта.Техническое образование в области информационных технологий. Знание стандартов описания бизнес-процессов и спецификаций. Общие знания основных продуктов (желательно из линейки...',
        city: 'Москва',
        address: 'м. Парк победы',
        exp: 'Требуемый опыт: от 2 лет'
      },
      {
        link: '#',
        title: 'Менеджер финансового департамента',
        text: 'Техническое образование в области информационных технологий. Знание стандартов описания бизнес-процессов и спецификаций. Общие знания основных продуктов (желательно из линейки...',
        city: 'Великий Устюг',
        exp: 'Требуемый опыт: 1 год'
      },
      {
        link: '#',
        title: 'Региональный менеджер по развитию продаж (Москва, Московская область)',
        text: 'Выполнение плана продаж. Управление дистрибьюторами (мотивация, ротация, работа с торговой командой). Подбор/увольнение персонала (в штате компании территориальные менеджеры, КАМ...',
        city: 'Москва',
        exp: 'Требуемый опыт: 3–6 год'
      },
      {
        link: '#',
        title: 'Региональный менеджер по развитию продаж (Москва, Московская область)',
        text: 'Выполнение плана продаж. Управление дистрибьюторами (мотивация, ротация, работа с торговой командой). Подбор/увольнение персонала (в штате компании территориальные менеджеры, КАМ...',
        city: 'Москва',
        exp: 'Требуемый опыт: 3–6 год'
      },
      {
        link: '#',
        title: 'Исполнительный директор',
        text: 'Оперативное руководство финансово-хозяйственной деятельностью компании. Управление (контроль, мотивация) командой менеджеров по продажам и по продвижению. Планирование и осуществление действий...',
        city: 'Москва',
        exp: 'Требуемый опыт: от 6 год'
      }
    ]
block content
  +menu
  .inner.vacancy
    .vacancy__banner
      +banner(bannerData)
        +button({ name: 'Отправить резюме', link: '#vacancy-popup' })&attributes({
          'data-open-popup': true
        })
    .vacancy__content
      .container
        .row
          .col-12
            .vacancy__top
              .vacancy__tabs(data-tabs)
                each tab, index in tabs
                  .vacancy__tab
                    +tab(tab)&attributes({ 'data-tab-id': index })
              .vacancy__dropdown
                +filter-select(dropdown)
        .row
          .col-12
            - var i = 0
            while i < 2
              .vacancy__block(data-tab-block=i class=i === 0 && '_active')
                .vacancy__tags
                  each tag, index in tags
                    .vacancy__tag
                      +tag(tag)&attributes({
                        class: index === 0 && '_active'
                      })
                .vacancy__list
                  each vac in vacancyList
                    +vacancy-card(vac)
              - i++
        .row
          .col-12
            .vacancy__button
              +button({ name: 'Показать еще 10 вакансий', link: '#', style: 'secondary' })