mixin dropzone(data)
  .dropzone(data-dropzone)
    .dropzone__content(data-dropzone-content)
      block
    .dropzone__files(data-dropzone-files)
    input.dropzone__input(type='file' name='file' data-dropzone-input multiple)