script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyBVlRy8cfxFCvdk9W90Fz5Fzuzq376-NAs" async defer)
script(src='//code.highcharts.com/highcharts.js')
script(src='//code.highcharts.com/modules/data.js')
script(src='//code.highcharts.com/modules/exporting.js')
script(src='//code.highcharts.com/modules/export-data.js')
script(src="common/scripts/vendor.js")
script(src="common/scripts/main.min.js")