mixin share-block
  .share-block
    a.share-block__button(href='#')&attributes(attributes)
        include ../../assets/images/i-soc-vk-big.svg
    a.share-block__button(href='#')&attributes(attributes)
        include ../../assets/images/i-soc-fb-big.svg
    a.share-block__button(href='#')&attributes(attributes)
        include ../../assets/images/i-soc-tw-big.svg
